apiVersion: jobset.x-k8s.io/v1alpha2
kind: JobSet
metadata:
  name: olympusjob
spec:
  replicatedJobs:
  - name: workers
    template:
      spec:
        parallelism: 2
        completions: 2
        backoffLimit: 0
        template:
          spec:
            serviceAccountName: olympus-job-sa  # kubectl apply -f svc-acct.yaml
            restartPolicy: Never
            imagePullSecrets:
              # https://k8s.io/docs/tasks/configure-pod-container/pull-image-private-registry/
            - name: null
            containers:
            - name: main
              image: null  # e.g. ghcr.io/nvidia/olympus:olympus
              imagePullPolicy: Always
              resources:
                limits:
                  cpu: 900m
                  # https://k8s.io/docs/tasks/manage-gpus/scheduling-gpus/
                  nvidia.com/gpu: null
              command: 
                - python
              args:
                - -c
                - |
                  import olympus
                  olympus.distributed.initialize()
                  print(olympus.devices())
                  print(olympus.local_devices())
                  assert olympus.process_count() > 1
                  assert len(olympus.devices()) > len(olympus.local_devices())
