apiVersion: v1
kind: Service
metadata:
  name: olympuspods
spec:
  publishNotReadyAddresses: true
  clusterIP: None
  selector:
    job-name: olympusjob
---
apiVersion: batch/v1
kind: Job
metadata:
  name: olympusjob
spec:
  parallelism: 8
  completions: 8
  completionMode: Indexed
  backoffLimit: 0
  template:
    spec:
      subdomain: olympuspods  # must match headless service name
      serviceAccountName: olympus-job-sa
      restartPolicy: Never
      containers:
      - name: main
        image: local/olympus:latest
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            cpu: 100m
        command: 
          - python
        args:
          - -c
          - |
            import olympus
            olympus.distributed.initialize()
            print(olympus.devices())
            print(olympus.local_devices())
            assert olympus.process_count() > 1
            assert len(olympus.devices()) > len(olympus.local_devices())
